#noscript-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100%;
    width: 100%;
    background-color: var(--background-color-base);
    color: #000;
  }
  #noscript-section section {
    padding: 20% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    gap: var(--spacing-lg);
  }
  #noscript-section h2 {
    text-transform: uppercase;
    text-align: center;
    font: var(--font-h1);
  }
  #noscript-section p {
    text-align: center;
    padding-top: 10px;
    font: var(--font-paragraph-lg-400);
  }
  #noscript-section a {
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    width: -moz-max-content;
    width: max-content;
  }
  #noscript-section .button-primary {
    background: var(--color-gradient-primary);
    box-shadow: 0 4px 8px #00000014;
    box-shadow: var(--shadow-1);
    color: var(--text-color-on-inverse);
    transition: none;
    padding: 8px 16px;
    padding: var(--spacing-md) var(--spacing-xl);
    font: var(--font-label-lg-700);
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 8px;
    border-radius: var(--border-radius-2);
    line-height: 1.715;
  }
  #noscript-section .button-primary:hover,
  #noscript-section .button-primary:focus {
    background: var(--control-color-primary-hover);
  }
  @font-face {
    font-family: casino-uniform;
    src: url(/assets/Uniform-webfont-iwnDFb21.woff) format("woff"),
      url(/assets/Uniform-webfont-pobObkON.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
  }
  @font-face {
    font-family: casino-uniform;
    src: url(/assets/Uniform-Medium-webfont-11ykzi0r.woff) format("woff"),
      url(/assets/Uniform-Medium-webfont-__vo9NHS.woff2) format("woff2");
    font-display: swap;
    font-weight: 500;
  }
  @font-face {
    font-family: casino-uniform;
    src: url(/assets/Uniform-Bold-webfont-Da8xyvP_.woff) format("woff"),
      url(/assets/Uniform-Bold-webfont-DOJ0GGhB.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
  }
  @font-face {
    font-family: casino-uniform-condensed;
    src: url(/assets/UniformCondensed-webfont-BAJiiuY5.woff) format("woff"),
      url(/assets/UniformCondensed-webfont-zqS9KgFj.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
  }
  @font-face {
    font-family: casino-uniform-condensed;
    src: url(/assets/UniformCondensed-Bold-webfont-BZF-nd6G.woff) format("woff"),
      url(/assets/UniformCondensed-Bold-webfont-DJZPnIC7.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
  }
  @font-face {
    font-family: cubano;
    src: url(/assets/Cubano-Regular-webfont-CZCzdncq.woff) format("woff");
    font-display: swap;
    font-weight: 400;
  }
  @font-face {
    font-family: cubano-condensed;
    src: url(/assets/Cubano-Regular-webfont-CZCzdncq.woff) format("woff");
    font-display: swap;
    font-weight: 400;
  }
  @font-face {
    font-family: Arial Fallback;
    src: local(Arial);
    font-weight: 400;
    size-adjust: 95%;
  }
  @font-face {
    font-family: Arial Bold Fallback;
    src: local("Arial Bold");
    size-adjust: 95%;
  }
  :root {
    --color-grey-00-25: rgba(255, 255, 255, 0.25);
    --color-grey-00-50: rgba(255, 255, 255, 0.5);
    --color-grey-00-75: rgba(255, 255, 255, 0.75);
    --color-grey-00: #fff;
    --color-grey-10: #f5f5f5;
    --color-grey-20: #e5e5e5;
    --color-grey-30: #ccc;
    --color-grey-40: #646b6a;
    --color-grey-50: #232b2b;
    --color-grey-50-75: rgba(35, 43, 43, 0.75);
    --color-grey-50-50: rgba(35, 43, 43, 0.5);
    --color-grey-50-25: rgba(35, 43, 43, 0.5);
    --color-red-02: #fce8e8;
    --color-red-05: #f9d1d1;
    --color-red-10: #fd5555;
    --color-red-20: #f0436c;
    --color-red-30: #e63131;
    --color-green-02: #cdfcdf;
    --color-green-10: #5ed16a;
    --color-green-20: #009639;
    --color-green-30: #007a33;
    --color-green-40: #046834;
    --color-blue-02: #e5f4ff;
    --color-blue-10: #3c90d1;
    --color-blue-60: #2c323a;
    --color-blue-70: #232b2f;
    --color-blue-80: #080f18;
    --color-orange-02: #fff4ec;
    --color-orange-10: #ff8d3d;
    --color-orange-20: #f97638;
    --color-orange-30: #ff6900;
    --color-orange-40: #db5a00;
    --color-orange-50: #ff3d00;
    --color-magenta-10: #fceff4;
    --color-magenta-20: #f9d9e3;
    --color-magenta-30: #f0adc2;
    --color-magenta-40: #d6436d;
    --color-magenta-50: #9d2f4b;
    --color-magenta-60: #80374c;
    --color-magenta-70: #66303f;
    --color-magenta-80: #53233d;
    --color-magenta-80-75: rgba(83, 35, 61, 0.75);
    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 8px;
    --spacing-4: 12px;
    --spacing-5: 16px;
    --spacing-6: 24px;
    --spacing-7: 32px;
    --spacing-8: 48px;
    --spacing-9: 64px;
    --spacing-10: 80px;
    --size-1: 16px;
    --size-2: 20px;
    --size-3: 24px;
    --size-4: 32px;
    --size-5: 48px;
    --size-6: 80px;
    --size-7: 120px;
    --size-8: 160px;
    --size-9: 240px;
    --size-10: 320px;
    --size-11: 480px;
    --size-12: 720px;
    --size-13: 1040px;
    --size-14: 1280px;
    --size-15: 1616px;
    --line-height-0: 1;
    --line-height-1: 1.2;
    --line-height-2: 1.4;
    --line-height-3: 1.6;
    --border-radius-1: 4px;
    --border-radius-2: 8px;
    --border-radius-3: 12px;
    --border-radius-4: 16px;
    --border-radius-5: 24px;
    --border-radius-6: 32px;
    --border-radius-full: 50%;
    --font-family-uniform: "casino-uniform", Arial Fallback;
    --font-family-uniform-condensed: "casino-uniform-condensed",
      Arial Bold Fallback;
    --font-family-cubano: "cubano", Arial Fallback;
    --font-family-cubano-condensed: "cubano-condensed", Arial Bold Fallback;
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.4rem;
    --font-size-4: 1.6rem;
    --font-size-5: 1.8rem;
    --font-size-6: 2rem;
    --font-size-7: 2.4rem;
    --font-size-8: 3.2rem;
    --font-size-9: 3.6rem;
    --font-size-10: 5.6rem;
    --font-size-11: 6.4rem;
    --font-size-12: 8rem;
    --shadow-1: 0 4px 8px rgba(0, 0, 0, 0.08);
    --shadow-2: 0 4px 8px rgba(0, 0, 0, 0.25);
    --shadow-3: 0 4px 16px rgba(0, 0, 0, 0.06);
    --shadow-4: 0 4px 16px rgba(0, 0, 0, 0.25);
  }
  :root {
    --nlportal-ksa-bar-height: 32px;
    --nlportal-nav-height: 60px;
    --subnavigation-height: 40px;
    --header-total-height: calc(
      var(--nlportal-ksa-bar-height) + var(--nlportal-nav-height) +
        var(--subnavigation-height)
    );
    --overlay-z-index: 10002;
    --carousel-mobile-min-height: 39rem;
    --carousel-desktop-min-height: 42.4rem;
    --carousel-foreground-mobile-max-height: 18.4rem;
    --carousel-foreground-desktop-max-height: 36rem;
    --spacing-xs: var(--spacing-1);
    --spacing-sm: var(--spacing-2);
    --spacing-md: var(--spacing-3);
    --spacing-lg: var(--spacing-4);
    --spacing-xl: var(--spacing-5);
    --spacing-2xl: var(--spacing-6);
    --spacing-3xl: var(--spacing-7);
    --spacing-4xl: var(--spacing-8);
    --spacing-5xl: var(--spacing-9);
  }
  .slide-enter-active,
  .slide-leave-active {
    transition: transform 0.3s ease;
  }
  .slide-enter-from,
  .slide-leave-to {
    transform: translateY(-100%);
  }
  .disappear-leave-active {
    transition: opacity 0.2s ease;
  }
  .disappear-leave-to,
  .accordion-enter-from {
    opacity: 0;
  }
  .accordion-enter-active,
  .accordion-leave-active {
    transition: opacity 0.3s linear;
  }
  .accordion-leave-to {
    opacity: 0;
  }
  .theme-casino {
    --text-color-primary: var(--color-grey-50);
    --text-color-secondary: var(--color-grey-40);
    --text-color-muted: var(--color-grey-30);
    --text-color-on-inverse: var(--color-grey-00);
    --text-color-cta: var(--color-green-30);
    --text-color-on-contrast: var(--color-grey-00);
    --text-color-highlight: var(--color-orange-40);
    --text-color-highlight-on-inverse: var(--color-orange-30);
    --text-color-error: var(--color-red-30);
    --text-color-warning: var(--color-orange-10);
    --text-color-success: var(--color-green-30);
    --text-color-brand-secondary: var(--color-green-20);
    --background-color-success: var(--color-green-02);
    --background-color-warning: var(--color-orange-02);
    --background-color-error: var(--color-red-02);
    --background-color-info: var(--color-blue-02);
    --background-color-canvas: var(--color-grey-10);
    --background-color-base: var(--color-grey-00);
    --background-color-base-alt: var(--color-grey-20);
    --background-color-fallback: var(--color-grey-40);
    --background-color-inverse: var(--color-grey-50);
    --background-color-brand-primary: var(--color-green-30);
    --background-color-brand-secondary: var(--color-green-20);
    --background-color-brand-tertiary: var(--color-green-40);
    --background-color-tonal-light: var(--color-grey-00-25);
    --background-color-tonal-medium: var(--color-grey-00-50);
    --background-color-tonal-heavy: var(--color-grey-00-75);
    --background-color-overlay: var(--color-grey-50-75);
    --background-color-highlight: var(--color-orange-02);
    --divider-color-level-1: var(--color-grey-20);
    --divider-color-level-2: var(--color-grey-30);
    --divider-color-inverse: var(--color-grey-40);
    --border-color-focus: var(--color-grey-50);
    --border-color-warning: var(--color-orange-10);
    --border-color-success: var(--color-green-20);
    --border-color-info: var(--color-blue-10);
    --border-color-error: var(--color-red-30);
    --control-color-primary-default: var(--color-orange-30);
    --control-color-primary-hover: var(--color-orange-40);
    --control-color-primary-default-contrast: var(--color-orange-30);
    --control-color-secondary-default: var(--color-green-20);
    --control-color-secondary-hover: var(--color-green-30);
    --control-color-tertiary-default: var(--color-grey-20);
    --control-color-tertiary-default-contrast: var(--color-grey-00);
    --control-color-tertiary-hover: var(--color-grey-30);
    --control-color-tonal-default: var(--color-grey-00-25);
    --control-color-tonal-hover: var(--color-grey-00-50);
    --control-color-cta-link-hover: var(--color-grey-10);
    --control-color-focus: var(--color-grey-50);
    --control-color-border-selector: var(--color-grey-30);
    --control-color-selector-on: var(--color-orange-30);
    --shadow-color-error-on-inverse: var(--color-red-30);
    --shadow-color-success-on-inverse: var(--color-green-10);
    --color-gradient-primary: linear-gradient(
      27deg,
      var(--color-orange-30) 0%,
      var(--color-orange-50) 100%
    );
    --color-gradient-primary-contrast: var(--color-gradient-primary);
    --gradient-fade-canvas-short-360: linear-gradient(
      360deg,
      var(--color-grey-10) 0%,
      transparent 100%
    );
    --gradient-fade-alt-short-180: linear-gradient(
      180deg,
      var(--color-grey-20) 0%,
      transparent 100%
    );
    --gradient-fade-alt-short-360: linear-gradient(
      360deg,
      var(--color-grey-20) 0%,
      transparent 100%
    );
    --gradient-fade-inverse-short-90: linear-gradient(
      90deg,
      var(--color-grey-50) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-short-180: linear-gradient(
      180deg,
      var(--color-grey-50) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-short-270: linear-gradient(
      270deg,
      var(--color-grey-50) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-short-360: linear-gradient(
      360deg,
      var(--color-grey-50) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-long-90: linear-gradient(
      90deg,
      var(--color-grey-50-75) 0%,
      transparent 100%
    );
    --gradient-fade-inverse-long-270: linear-gradient(
      270deg,
      var(--color-grey-50-75) 0%,
      transparent 100%
    );
    --gradient-fade-inverse-long-360: linear-gradient(
      360deg,
      var(--color-grey-50-75) 0%,
      transparent 100%
    );
    --radius-xs: var(--border-radius-1);
    --radius-sm: var(--border-radius-1);
    --radius-md: var(--border-radius-2);
    --radius-lg: var(--border-radius-3);
    --radius-circle: var(--border-radius-full);
    --font-family-heading: var(--font-family-uniform-condensed);
    --font-family-content: var(--font-family-uniform);
    --font-display-md: 900
      clamp(var(--font-size-9), 2.9878rem + 1.6327vw, var(--font-size-10)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-display-lg: 900
      clamp(var(--font-size-11), 5.9102rem + 1.3061vw, var(--font-size-12)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-h1: 900
      clamp(var(--font-size-7), 2.1551rem + 0.6531vw, var(--font-size-9)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-h2: 900
      clamp(var(--font-size-6), 1.8776rem + 0.3265vw, var(--font-size-7)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-h3: 900
      clamp(var(--font-size-4), 1.4776rem + 0.3265vw, var(--font-size-6)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-subtitle: 700
      clamp(var(--font-size-5), 1.7388rem + 0.1633vw, var(--font-size-6)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-400: 400
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-500: 500
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-700: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-md-400: 400
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-md-500: 500
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-md-700: 700
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-lg-400: 400 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-paragraph-lg-500: 500 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-paragraph-lg-700: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-label-subnavigation: 700 var(--font-size-2) / var(--line-height-none)
      var(--font-family-content);
    --font-label-sm-700: 700
      clamp(var(--font-size-1), 0.9388rem + 0.1633vw, var(--font-size-2)) /
      var(--line-height-none) var(--font-family-content);
    --font-label-md-400: 400
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-none) var(--font-family-content);
    --font-label-md-700: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-none) var(--font-family-content);
    --font-label-lg-700: 700 var(--font-size-3) / var(--line-height-none)
      var(--font-family-content);
    --font-button-sm: 700 var(--font-size-2) / var(--line-height-xs)
      var(--font-family-content);
    --font-button-md: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-xs) var(--font-family-content);
    --font-link-sm: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-link-md: 700
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-link-lg: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-rich-h1: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-rich-h2: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-rich-h3: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --line-height-none: var(--line-height-0);
    --line-height-xs: var(--line-height-1);
    --line-height-sm: var(--line-height-2);
    --line-height-md: var(--line-height-3);
    --image-size-4xs: var(--size-2);
    --image-size-3xs: var(--size-3);
    --image-size-2xs: var(--size-4);
    --image-size-xs: var(--size-5);
    --image-size-sm: var(--size-6);
    --image-size-md: var(--size-7);
    --image-size-lg: var(--size-8);
    --image-size-xl: var(--size-9);
    --image-size-2xl: var(--size-10);
    --image-size-3xl: var(--size-11);
    --icon-size-sm: var(--size-1);
    --icon-size-md: var(--size-2);
    --icon-size-lg: var(--size-3);
    --icon-size-xl: var(--size-4);
    --icon-size-2xl: var(--size-5);
    --icon-color-resting: var(--color-grey-40);
    --icon-color-resting-on-inverse: var(--color-grey-00-50);
    --icon-color-active: var(--color-green-20);
    --icon-color-active-on-inverse: var(--color-grey-00);
    --icon-color-brand-on-inverse: var(--color-green-10);
    --icon-color-success-on-inverse: var(--color-green-10);
    --icon-color-success: var(--color-green-20);
    --icon-color-info: var(--color-blue-10);
    --icon-color-warning: var(--color-orange-10);
    --icon-color-error: var(--color-red-10);
    --container-size-height-sm: var(--size-9);
    --container-size-height-md: var(--size-10);
    --container-size-height-lg: var(--size-11);
    --container-size-height-xl: var(--size-12);
    --container-size-width-xs: var(--size-10);
    --container-size-width-sm: var(--size-11);
    --container-size-width-md: var(--size-12);
    --container-size-width-lg: var(--size-13);
    --container-size-width-xl: var(--size-15);
    --content-size-width-lg: var(--size-12);
    --shadow-sm: var(--shadow-1);
    --shadow-md: var(--shadow-2);
    --shadow-lg: var(--shadow-3);
    --shadow-xl: var(--shadow-4);
  }
  .theme-instantgames {
    --text-color-primary: var(--color-magenta-80);
    --text-color-secondary: var(--color-magenta-60);
    --text-color-muted: var(--color-magenta-30);
    --text-color-on-inverse: var(--color-grey-00);
    --text-color-cta: var(--color-magenta-40);
    --text-color-on-contrast: var(--color-magenta-80);
    --text-color-highlight: var(--color-orange-40);
    --text-color-highlight-on-inverse: var(--color-orange-10);
    --text-color-error: var(--color-red-30);
    --text-color-warning: var(--color-orange-10);
    --text-color-success: var(--color-green-30);
    --text-color-brand-secondary: var(--color-magenta-50);
    --background-color-success: var(--color-green-02);
    --background-color-warning: var(--color-orange-02);
    --background-color-error: var(--color-red-02);
    --background-color-info: var(--color-blue-02);
    --background-color-canvas: var(--color-magenta-10);
    --background-color-base: var(--color-grey-00);
    --background-color-base-alt: var(--color-magenta-20);
    --background-color-fallback: var(--color-magenta-50);
    --background-color-inverse: var(--color-magenta-80);
    --background-color-brand-primary: var(--color-magenta-40);
    --background-color-brand-secondary: var(--color-magenta-50);
    --background-color-brand-tertiary: var(--color-magenta-50);
    --background-color-tonal-light: var(--color-grey-00-25);
    --background-color-tonal-medium: var(--color-grey-00-50);
    --background-color-tonal-heavy: var(--color-grey-00-75);
    --background-color-overlay: var(--color-magenta-80-75);
    --background-color-highlight: var(--color-orange-02);
    --divider-color-level-1: var(--color-magenta-20);
    --divider-color-level-2: var(--color-magenta-30);
    --divider-color-inverse: var(--color-magenta-40);
    --border-color-focus: var(--color-magenta-80);
    --border-color-warning: var(--color-orange-10);
    --border-color-success: var(--color-green-20);
    --border-color-info: var(--color-blue-10);
    --border-color-error: var(--color-red-30);
    --control-color-primary-default: var(--color-orange-30);
    --control-color-primary-hover: var(--color-orange-40);
    --control-color-primary-default-contrast: var(--color-magenta-10);
    --control-color-secondary-default: var(--color-magenta-40);
    --control-color-secondary-hover: var(--color-magenta-50);
    --control-color-tertiary-default: var(--color-magenta-20);
    --control-color-tertiary-default-contrast: var(--color-grey-00);
    --control-color-tertiary-hover: var(--color-magenta-30);
    --control-color-tonal-default: var(--color-grey-00-25);
    --control-color-tonal-hover: var(--color-grey-00-50);
    --control-color-cta-link-hover: var(--color-magenta-10);
    --control-color-focus: var(--color-magenta-80);
    --control-color-border-selector: var(--color-magenta-30);
    --control-color-selector-on: var(--color-orange-30);
    --shadow-color-warning-on-inverse: var(--color-red-30);
    --shadow-color-success-on-inverse: var(--color-red-20);
    --color-gradient-primary: linear-gradient(
      27deg,
      var(--color-orange-20) 0%,
      var(--color-red-10) 100%
    );
    --color-gradient-primary-contrast: var(--color-magenta-10);
    --gradient-fade-alt-short-180: linear-gradient(
      180deg,
      var(--color-magenta-20) 0%,
      transparent 50%
    );
    --gradient-fade-alt-short-360: linear-gradient(
      360deg,
      var(--color-magenta-20) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-short-90: linear-gradient(
      90deg,
      var(--color-magenta-80) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-short-180: linear-gradient(
      180deg,
      var(--color-magenta-80) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-short-270: linear-gradient(
      270deg,
      var(--color-magenta-80) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-short-360: linear-gradient(
      360deg,
      var(--color-magenta-80) 0%,
      transparent 50%
    );
    --gradient-fade-inverse-long-90: linear-gradient(
      90deg,
      var(--color-magenta-80-75) 0%,
      transparent 100%
    );
    --gradient-fade-inverse-long-270: linear-gradient(
      270deg,
      var(--color-magenta-80-75) 0%,
      transparent 100%
    );
    --gradient-fade-inverse-long-360: linear-gradient(
      360deg,
      var(--color-magenta-80-75) 0%,
      transparent 100%
    );
    --radius-xs: var(--border-radius-1);
    --radius-sm: var(--border-radius-2);
    --radius-md: var(--border-radius-3);
    --radius-lg: var(--border-radius-3);
    --radius-circle: var(--border-radius-full);
    --font-family-heading: var(--font-family-cubano-condensed);
    --font-family-content: var(--font-family-uniform);
    --font-display-md: 400
      clamp(var(--font-size-9), 2.9878rem + 1.6327vw, var(--font-size-10)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-display-lg: 400
      clamp(var(--font-size-11), 5.9102rem + 1.3061vw, var(--font-size-12)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-h1: 400
      clamp(var(--font-size-7), 2.1551rem + 0.6531vw, var(--font-size-9)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-h2: 400
      clamp(var(--font-size-6), 1.8776rem + 0.3265vw, var(--font-size-7)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-h3: 400
      clamp(var(--font-size-4), 1.4776rem + 0.3265vw, var(--font-size-6)) /
      var(--line-height-xs) var(--font-family-heading);
    --font-subtitle: 700
      clamp(var(--font-size-5), 1.7388rem + 0.1633vw, var(--font-size-6)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-400: 400
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-500: 500
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-700: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-md-400: 400
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-md-500: 500
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-md-700: 700
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-paragraph-lg-400: 400 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-paragraph-lg-500: 500 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-paragraph-lg-700: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-label-subnavigation: 700 var(--font-size-2) / var(--line-height-none)
      var(--font-family-content);
    --font-label-sm-700: 700
      clamp(var(--font-size-1), 0.9388rem + 0.1633vw, var(--font-size-2)) /
      var(--line-height-none) var(--font-family-content);
    --font-label-md-400: 400
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-none) var(--font-family-content);
    --font-label-md-700: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-none) var(--font-family-content);
    --font-label-lg-700: 700 var(--font-size-3) / var(--line-height-none)
      var(--font-family-content);
    --font-button-sm: 700 var(--font-size-2) / var(--line-height-xs)
      var(--font-family-content);
    --font-button-md: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-xs) var(--font-family-content);
    --font-link-sm: 700
      clamp(var(--font-size-2), 1.1388rem + 0.1633vw, var(--font-size-3)) /
      var(--line-height-sm) var(--font-family-content);
    --font-link-md: 700
      clamp(var(--font-size-3), 1.3388rem + 0.1633vw, var(--font-size-4)) /
      var(--line-height-sm) var(--font-family-content);
    --font-link-lg: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-rich-h1: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-rich-h2: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --font-rich-h3: 700 var(--font-size-4) / var(--line-height-sm)
      var(--font-family-content);
    --line-height-none: var(--line-height-0);
    --line-height-xs: var(--line-height-1);
    --line-height-sm: var(--line-height-2);
    --line-height-md: var(--line-height-3);
    --image-size-4xs: var(--size-2);
    --image-size-3xs: var(--size-3);
    --image-size-2xs: var(--size-4);
    --image-size-xs: var(--size-5);
    --image-size-sm: var(--size-6);
    --image-size-md: var(--size-7);
    --image-size-lg: var(--size-8);
    --image-size-xl: var(--size-9);
    --image-size-2xl: var(--size-10);
    --image-size-3xl: var(--size-11);
    --icon-size-sm: var(--size-1);
    --icon-size-md: var(--size-2);
    --icon-size-lg: var(--size-3);
    --icon-size-xl: var(--size-4);
    --icon-size-2xl: var(--size-5);
    --icon-color-resting: var(--color-magenta-30);
    --icon-color-resting-on-inverse: var(--color-grey-00-50);
    --icon-color-active: var(--color-magenta-40);
    --icon-color-active-on-inverse: var(--color-grey-00);
    --icon-color-brand-on-inverse: var(--color-red-20);
    --icon-color-success-on-inverse: var(--color-green-10);
    --icon-color-success: var(--color-green-20);
    --icon-color-info: var(--color-blue-30);
    --icon-color-warning: var(--color-orange-10);
    --icon-color-error: var(--color-red-30);
    --container-size-height-sm: var(--size-9);
    --container-size-height-md: var(--size-10);
    --container-size-height-lg: var(--size-11);
    --container-size-height-xl: var(--size-12);
    --container-size-width-xs: var(--size-10);
    --container-size-width-sm: var(--size-11);
    --container-size-width-md: var(--size-12);
    --container-size-width-lg: var(--size-13);
    --container-size-width-xl: var(--size-15);
    --content-size-width-lg: var(--size-12);
    --shadow-sm: var(--shadow-1);
    --shadow-md: var(--shadow-2);
    --shadow-lg: var(--shadow-3);
    --shadow-xl: var(--shadow-4);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  body,
  html {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body.no-scroll {
    overflow: hidden;
  }
  main {
    font-family: var(--font-family-content);
  }
  button,
  input,
  textarea,
  select,
  fieldset,
  legend,
  details,
  summary,
  abbr,
  blockquote {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  ._iconWrapper_1chpj_2[data-v-16a5f4ab] {
    display: block;
    line-height: 0;
}
  ._iconWrapper_1chpj_2 svg[data-v-16a5f4ab] {
    width: 100%;
    height: 100%;
  }
  ._navSkeleton_j9hkr_2 {
    position: fixed;
    z-index: 6;
    top: 0;
    width: 100%;
  }
  ._mainSkeletonBar_j9hkr_9 {
    display: flex;
    height: 60px;
    height: var(--nlportal-nav-height);
    align-items: center;
    background-color: var(--background-color-brand-primary);
    padding-left: 16px;
    padding-right: 16px;
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }
  @media screen and (min-width: 1301px) {
    ._menuWrapper_j9hkr_17 {
      display: none;
    }
  }
  ._menu_j9hkr_17 {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
    margin-right: 8px;
    margin-right: var(--spacing-md);
    color: var(--text-color-on-inverse);
  }
  ._topSkeletonBar_j9hkr_30 {
    display: flex;
    height: 32px;
    height: var(--nlportal-ksa-bar-height);
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-brand-tertiary);
    padding-left: 16px;
    padding-right: 16px;
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }
  ._ksa_j9hkr_39 {
    width: 6.5rem;
    height: 2rem;
    color: var(--text-color-on-inverse);
  }
  ._header_1htg7_2 {
    position: relative;
    display: flex;
    height: 92px;
    height: calc(var(--nlportal-ksa-bar-height) + var(--nlportal-nav-height));
    flex-direction: column;
    background-color: var(--background-color-brand-tertiary);
  }
  ._hiddenHeader_1htg7_9 {
    height: 0;
  }
  ._hiddenFooter_1htg7_13 {
    display: none;
  }
  ._anchor_2ym88_2 {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  ._display-md_1fiom_2[data-v-06e104ce] {
    font: var(--font-display-md);
    text-transform: uppercase;
  }
  ._display-lg_1fiom_7[data-v-06e104ce] {
    font: var(--font-display-lg);
    text-transform: uppercase;
  }
  ._h1_1fiom_12[data-v-06e104ce] {
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
  }
  ._h2_1fiom_17[data-v-06e104ce] {
    font: var(--font-h2);
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
  }
  ._h3_1fiom_21[data-v-06e104ce] {
    font: var(--font-h3);
    text-transform: uppercase;
  }
  ._subtitle_1fiom_26[data-v-06e104ce] {
    font: var(--font-subtitle);
  }
  ._paragraph-400_1fiom_31[data-v-06e104ce] {
    font: var(--font-paragraph-400);
  }
  ._paragraph-500_1fiom_35[data-v-06e104ce] {
    font: var(--font-paragraph-500);
  }
  ._paragraph-700_1fiom_39[data-v-06e104ce] {
    font: var(--font-paragraph-700);
  }
  ._paragraph-md-400_1fiom_44[data-v-06e104ce] {
    font-family: Montserrat, serif;
    font-size: 14px;
    font-weight: 400;
  }
  ._paragraph-md-500_1fiom_48[data-v-06e104ce] {
    font: var(--font-paragraph-md-500);
  }
  ._paragraph-md-700_1fiom_52[data-v-06e104ce] {
    font: var(--font-paragraph-md-700);
  }
  ._paragraph-lg-400_1fiom_57[data-v-06e104ce] {
    font: var(--font-paragraph-lg-400);
  }
  ._paragraph-lg-500_1fiom_61[data-v-06e104ce] {
    font: var(--font-paragraph-lg-500);
  }
  ._paragraph-lg-700_1fiom_65[data-v-06e104ce] {
    font: var(--font-paragraph-lg-700);
  }
  ._label-sm-700_1fiom_69[data-v-06e104ce] {
    font: var(--font-label-sm-700);
  }
  ._label-md-400_1fiom_73[data-v-06e104ce] {
    font: var(--font-label-md-400);
  }
  ._label-md-700_1fiom_77[data-v-06e104ce] {
    font: var(--font-label-md-700);
  }
  ._label-lg-700_1fiom_81[data-v-06e104ce] {
    font: var(--font-label-lg-700);
  }
  ._label-subnav_1fiom_85[data-v-06e104ce] {
    font: var(--font-label-subnavigation);
  }
  ._link-md_1fiom_89[data-v-06e104ce] {
    font: var(--font-link-md);
  }
  ._link-lg_1fiom_93[data-v-06e104ce] {
    font: var(--font-link-lg);
  }
  ._uppercase_1fiom_97[data-v-06e104ce] {
    text-transform: uppercase;
  }
  ._button_18wd0_2 {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }
  ._icon_18wd0_9 {
    width: var(--icon-size-lg);
  }
  ._root_1la4r_2 {
    --subnavigation-top-offset: calc(
      var(--nlportal-ksa-bar-height) + var(--nlportal-nav-height)
    );
    --subnavigation-height: 40px;
    --subnavigation-gradient-height: var(--subnavigation-height);
    --subnavigation-gradient-width: var(--subnavigation-height);
    position: sticky;
    z-index: 5;
    display: flex;
    background-color: var(--background-color-brand-secondary);
    box-shadow: var(--shadow-xl);
    color: var(--text-color-on-inverse);
    transform: translateY(0);
    transition: transform 0.2s ease;
  }
  ._topSpacing_1la4r_21 {
    top: var(--subnavigation-top-offset);
  }
  ._navWrapper_1la4r_25 {
    position: relative;
    min-width: 0;
    flex-grow: 1;
  }
  ._navWrapper_1la4r_25:after {
    position: absolute;
    display: block;
    width: var(--subnavigation-gradient-width);
    height: var(--subnavigation-gradient-height);
    background: linear-gradient(
      90deg,
      transparent,
      var(--background-color-brand-secondary) 100%
    );
    content: "";
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    pointer-events: none;
  }
  ._searchIcon_1la4r_42 {
    padding: 0 8px;
    padding: 0 var(--spacing-md);
  }
  ._isHidden_1la4r_46 {
    transform: translateY(-100%);
  }
  ._nav_1la4r_25 {
    position: relative;
    display: flex;
    height: 40px;
    height: var(--subnavigation-height);
    flex-grow: 1;
    overflow-x: auto;
  }
  ._nav_1la4r_25::-webkit-scrollbar {
    display: none;
  }
  ._link_1la4r_62 {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    color: inherit;
    padding-left: 12px;
    padding-right: 12px;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  @media (min-width: 480px) {
    ._link_1la4r_62 {
      padding-left: 16px;
      padding-right: 16px;
      padding-left: var(--spacing-xl);
      padding-right: var(--spacing-xl);
    }
  }
  @media (hover: hover) and (pointer: fine) {
    ._link_1la4r_62:hover:after {
      position: absolute;
      display: block;
      height: 4px;
      height: var(--spacing-sm);
      background-color: var(--control-color-primary-default);
      content: "";
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  ._link_1la4r_62:first-child {
    padding-left: 16px;
    padding-left: var(--spacing-xl);
  }
  ._link_1la4r_62:last-child {
    margin-right: var(--subnavigation-gradient-width);
  }
  ._active_1la4r_97:after {
    position: absolute;
    display: block;
    height: 4px;
    height: var(--spacing-sm);
    background-color: var(--control-color-primary-default);
    content: "";
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  }
  ._container_16dnw_2 {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }
  @media (min-width: 480px) {
    ._container_16dnw_2 {
      padding-left: 24px;
      padding-right: 24px;
      padding-left: var(--spacing-2xl);
      padding-right: var(--spacing-2xl);
    }
  }
  @media (min-width: 768px) {
    ._container_16dnw_2 {
      padding-left: 32px;
      padding-right: 32px;
      padding-left: var(--spacing-3xl);
      padding-right: var(--spacing-3xl);
    }
  }
  ._boxed-sm_16dnw_16 {
    max-width: var(--container-size-width-sm);
  }
  ._boxed-md_16dnw_20 {
    max-width: var(--container-size-width-md);
  }
  ._boxed-lg_16dnw_24 {
    max-width: var(--container-size-width-lg);
  }
  ._boxed-xl_16dnw_28 {
    max-width: var(--container-size-width-xl);
  }
  @media (min-width: 768px) {
    ._mobile_16dnw_32 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  ._desktop_16dnw_38 {
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 480px) {
    ._desktop_16dnw_38 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: 768px) {
    ._desktop_16dnw_38 {
      padding-left: 32px;
      padding-right: 32px;
      padding-left: var(--spacing-3xl);
      padding-right: var(--spacing-3xl);
    }
  }
  ._none_16dnw_50 {
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 480px) {
    ._none_16dnw_50 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: 768px) {
    ._none_16dnw_50 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  ._button_hpmcw_2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--radius-sm);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font: var(--font-button-md);
    gap: 4px;
    gap: var(--spacing-sm);
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: background-color 0.2s cubic-bezier(0.2, 0, 0, 1),
      opacity 0.2s cubic-bezier(0.2, 0, 0, 1);
  }
  ._button_hpmcw_2:focus-visible {
    outline: var(--border-color-focus) solid 2px;
    outline-offset: 2px;
  }
  ._button_hpmcw_2:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  ._shadow_hpmcw_29 {
    box-shadow: var(--shadow-sm);
  }
  ._icon_hpmcw_33 {
    flex-shrink: 0;
    aspect-ratio: 1;
    line-height: 0;
  }
  ._iconButton_hpmcw_39 {
    line-height: 0;
  }
  ._large_hpmcw_43 {
    padding: 8px 16px;
    padding: var(--spacing-md) var(--spacing-xl);
    font: var(--font-label-lg-700);
    line-height: 1.715;
  }
  ._large_hpmcw_43._iconButton_hpmcw_39 {
    padding: 8px;
    padding: var(--spacing-md);
  }
  ._large_hpmcw_43 ._icon_hpmcw_33 {
    width: var(--icon-size-lg);
  }
  ._medium_hpmcw_57 {
    padding: 8px 12px;
    padding: var(--spacing-md) var(--spacing-lg);
    font: var(--font-label-lg-700);
    line-height: 1.143;
  }
  ._medium_hpmcw_57._iconButton_hpmcw_39 {
    padding: 8px;
    padding: var(--spacing-md);
  }
  ._medium_hpmcw_57 ._icon_hpmcw_33 {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }
  ._small_hpmcw_72 {
    padding: 4px 8px;
    padding: var(--spacing-sm) var(--spacing-md);
    font: var(--font-label-md-700);
    line-height: 1.334;
  }
  ._small_hpmcw_72 ._icon_hpmcw_33 {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
  }
  ._primary_hpmcw_83 {
    background: var(--color-gradient-primary);
    box-shadow: var(--shadow-sm);
    color: var(--text-color-on-inverse);
    transition: none;
  }
  ._primary_hpmcw_83:hover,
  ._primary_hpmcw_83:focus {
    background: var(--control-color-primary-hover);
  }
  ._primary-contrast_hpmcw_95 {
    background: var(--color-gradient-primary-contrast);
    box-shadow: var(--shadow-sm);
    color: var(--text-color-on-inverse);
    transition: none;
  }
  ._primary-contrast_hpmcw_95:hover,
  ._primary-contrast_hpmcw_95:focus {
    background: var(--control-color-primary-hover);
  }
  ._secondary_hpmcw_107 {
    background-color: var(--control-color-secondary-default);
    box-shadow: var(--shadow-sm);
    color: var(--text-color-on-inverse);
  }
  ._secondary_hpmcw_107:hover,
  ._secondary_hpmcw_107:focus {
    background-color: var(--control-color-secondary-hover);
  }
  ._tertiary_hpmcw_118 {
    background-color: var(--control-color-tertiary-default);
    box-shadow: none;
    color: var(--text-color-primary);
  }
  ._tertiary_hpmcw_118:hover,
  ._tertiary_hpmcw_118:focus {
    background-color: var(--control-color-tertiary-hover);
  }
  ._tertiary-contrast_hpmcw_129 {
    background-color: var(--control-color-tertiary-default-contrast);
    color: var(--text-color-primary);
  }
  ._tertiary-contrast_hpmcw_129:hover,
  ._tertiary-contrast_hpmcw_129:focus {
    background-color: var(--control-color-tertiary-hover);
  }
  ._tonal_hpmcw_139 {
    background-color: var(--control-color-tonal-default);
    color: var(--text-color-on-inverse);
  }
  ._tonal_hpmcw_139:hover,
  ._tonal_hpmcw_139:focus {
    background-color: var(--control-color-tonal-hover);
  }
  ._link_hpmcw_149 {
    background-color: transparent;
    box-shadow: none;
    color: var(--text-color-cta);
  }
  ._link_hpmcw_149:hover,
  ._link_hpmcw_149:focus {
    background-color: var(--control-color-cta-link-hover);
  }
  ._upperCase_hpmcw_160 {
    text-transform: uppercase;
  }
  ._fullWidth_hpmcw_164 {
    width: 100%;
  }
  ._container_yz1p8_2 {
    display: flex;
    flex-direction: column;
    color: var(--text-color-primary);
    gap: 8px;
    gap: var(--spacing-md);
    --input-horizontal-padding: var(--spacing-lg);
  }
  ._medium_yz1p8_11 {
    --input-vertical-padding: var(--spacing-md);
  }
  ._large_yz1p8_15 {
    --input-vertical-padding: var(--spacing-lg);
  }
  ._control_yz1p8_19 {
    display: flex;
    border: 1px solid var(--control-color-border-selector);
    border-radius: var(--radius-sm);
    background-color: var(--background-color-base);
  }
  ._inputWrapper_yz1p8_27 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-top: var(--input-vertical-padding);
    padding-bottom: var(--input-vertical-padding);
    padding-left: var(--input-horizontal-padding);
    gap: 8px;
    gap: var(--spacing-md);
  }
  ._input_yz1p8_27 {
    width: 100%;
    height: var(--icon-size-lg);
    border: none;
    color: var(--text-color-primary);
    font: var(--font-paragraph-md-500);
    outline: none;
  }
  ._input_yz1p8_27::-moz-placeholder {
    color: var(--text-color-secondary);
    opacity: 1;
  }
  ._input_yz1p8_27::placeholder {
    color: var(--text-color-secondary);
    opacity: 1;
  }
  ._input_yz1p8_27::-ms-input-placeholder {
    color: var(--text-color-secondary);
  }
  ._icon_yz1p8_55 {
    width: var(--icon-size-lg);
  }
  ._iconWrapper_yz1p8_59 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--input-vertical-padding) var(--input-horizontal-padding);
    color: var(--text-color-secondary);
  }
  ._iconWrapper_interactive_yz1p8_68 {
    cursor: pointer;
  }
  ._container_focused_yz1p8_72 ._control_yz1p8_19 {
    border: 2px solid var(--control-color-focus);
  }
  ._container_focused_yz1p8_72 ._inputWrapper_yz1p8_27 {
    padding-top: calc(var(--input-vertical-padding) - 1px);
    padding-bottom: calc(var(--input-vertical-padding) - 1px);
    padding-left: calc(var(--input-horizontal-padding) - 1px);
  }
  ._container_focused_yz1p8_72 ._iconWrapper_yz1p8_59 {
    padding-top: calc(var(--input-vertical-padding) - 1px);
    padding-right: calc(var(--input-horizontal-padding) - 1px);
    padding-bottom: calc(var(--input-vertical-padding) - 1px);
    color: var(--text-color-primary);
  }
  ._heading_rhkb3_2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    gap: var(--spacing-md);
    margin-bottom: 16px;
    margin-bottom: var(--spacing-xl);
  }
  ._row_rhkb3_10 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    gap: var(--spacing-xl);
  }
  @media (min-width: 768px) {
    ._row_rhkb3_10 {
      align-items: center;
    }
  }
  ._titleWrapper_rhkb3_21 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    gap: var(--spacing-md);
  }
  ._icon_rhkb3_27 {
    width: var(--icon-size-lg);
    aspect-ratio: 1;
    -o-object-fit: contain;
    object-fit: contain;
  }
  ._controls_rhkb3_33 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    gap: var(--spacing-md);
  }
  ._title_rhkb3_21 {
    color: var(--text-color-primary);
  }
  ._invertedTitle_rhkb3_45 {
    color: var(--text-color-on-inverse);
  }
  ._slide_kz7in_1 {
    display: grid;
    width: 100%;
    flex-shrink: 0;
    grid-gap: 8px;
    grid-gap: var(--spacing-md);
    gap: 8px;
    gap: var(--spacing-md);
    grid-template-areas: "a a a a a a" "a a a a a a" "b b b c c c" "d d e e f f";
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(4, auto);
    scroll-snap-align: start;
  }
  ._slide_kz7in_1 > :first-child {
    grid-area: a;
  }
  ._slide_kz7in_1 > :nth-child(2) {
    grid-area: b;
  }
  ._slide_kz7in_1 > :nth-child(3) {
    grid-area: c;
  }
  ._slide_kz7in_1 > :nth-child(4) {
    grid-area: d;
  }
  ._slide_kz7in_1 > :nth-child(5) {
    grid-area: e;
  }
  ._slide_kz7in_1 > :nth-child(6) {
    grid-area: f;
  }
  @media (min-width: 768px) {
    ._slide_kz7in_1 {
      gap: 16px;
      gap: var(--spacing-xl);
      grid-template-areas: "a a a b c d" "a a a e f g";
      grid-template-columns: repeat(6, minmax(0, 1fr));
      grid-template-rows: repeat(2, 1fr);
    }
    ._slide_kz7in_1 > :first-child {
      grid-area: a;
    }
    ._slide_kz7in_1 > :nth-child(2) {
      grid-area: b;
    }
    ._slide_kz7in_1 > :nth-child(3) {
      grid-area: c;
    }
    ._slide_kz7in_1 > :nth-child(4) {
      grid-area: d;
    }
    ._slide_kz7in_1 > :nth-child(5) {
      grid-area: e;
    }
    ._slide_kz7in_1 > :nth-child(6) {
      grid-area: f;
    }
    ._slide_kz7in_1 > :nth-child(7) {
      grid-area: g;
    }
  }
  ._slide_96djr_1 {
    display: grid;
    width: 100%;
    flex-shrink: 0;
    grid-gap: 8px;
    grid-gap: var(--spacing-md);
    gap: 8px;
    gap: var(--spacing-md);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    scroll-snap-align: start;
  }
  ._slide_96djr_1 > :first-child {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
  }
  @media (min-width: 768px) {
    ._slide_96djr_1 {
      gap: 16px;
      gap: var(--spacing-xl);
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    ._slide_96djr_1 > :first-child {
      grid-column: span 2;
    }
  }
  ._slide_jfo3v_1 {
    display: grid;
    width: 100%;
    flex-shrink: 0;
    grid-gap: 8px;
    grid-gap: var(--spacing-md);
    gap: 8px;
    gap: var(--spacing-md);
    scroll-snap-align: start;
  }
  @media (min-width: 768px) {
    ._slide_jfo3v_1 {
      gap: 16px;
      gap: var(--spacing-xl);
    }
  }
  ._gridSlide-1-rows_jfo3v_13 {
    grid-template-rows: repeat(1, 1fr);
  }
  ._gridSlide-2-rows_jfo3v_17 {
    grid-template-rows: repeat(2, 1fr);
  }
  ._gridSlide-3-rows_jfo3v_21 {
    grid-template-rows: repeat(3, 1fr);
  }
  ._gridSlide-4-rows_jfo3v_25 {
    grid-template-rows: repeat(4, 1fr);
  }
  ._gridSlide-5-rows_jfo3v_29 {
    grid-template-rows: repeat(5, 1fr);
  }
  ._gridSlide-6-rows_jfo3v_33 {
    grid-template-rows: repeat(6, 1fr);
  }
  ._gridSlide-1-columns_jfo3v_37 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._gridSlide-1-columns_jfo3v_37._compact_jfo3v_41 {
    width: 77%;
  }
  ._gridSlide-2-columns_jfo3v_45 {
    grid-template-columns: repeat(2, 1fr);
  }
  ._gridSlide-3-columns_jfo3v_49 {
    grid-template-columns: repeat(3, 1fr);
  }
  ._gridSlide-4-columns_jfo3v_53 {
    grid-template-columns: repeat(4, 1fr);
  }
  ._gridSlide-5-columns_jfo3v_57 {
    grid-template-columns: repeat(5, 1fr);
  }
  ._gridSlide-6-columns_jfo3v_61 {
    grid-template-columns: repeat(6, 1fr);
  }
  ._gamesBlock_13dgo_2 {
    position: relative;
    width: 100%;
  }
  @keyframes _spin_1vv84_17 {
    to {
      transform: rotate(360deg);
    }
  }
  ._button_1vv84_8 {
    position: relative;
    width: 100%;
  }
  @media (min-width: 768px) {
    ._button_1vv84_8 {
      width: auto;
      width: initial;
    }
  }
  ._spinner_1vv84_17 {
    position: absolute;
    display: inline-block;
    width: var(--icon-size-md);
    height: var(--icon-size-md);
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: var(--text-color-primary);
    opacity: 0;
  }
  ._loading_1vv84_28 ._content_1vv84_29 {
    opacity: 0;
  }
  ._loading_1vv84_28 ._spinner_1vv84_17 {
    animation: _spin_1vv84_17 1s ease-in-out infinite;
    opacity: 1;
  }
  ._wrapper_4x14e_2 {
    display: grid;
    grid-gap: 8px;
    grid-gap: var(--spacing-md);
    gap: 8px;
    gap: var(--spacing-md);
  }
  @media (min-width: 768px) {
    ._wrapper_4x14e_2 {
      gap: 16px;
      gap: var(--spacing-xl);
    }
  }
  ._loadMoreWrapper_4x14e_11 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 24px;
    margin-top: var(--spacing-2xl);
  }
  ._slider_4x14e_18 ._wrapper_4x14e_2 {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: -10px;
    overflow-x: scroll;
  }
  ._slider_4x14e_18 ._wrapper_4x14e_2::-webkit-scrollbar {
    display: none;
  }
  ._container_9lfr1_2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    gap: var(--spacing-xl);
  }
  ._container_9lfr1_2:last-child {
    padding-bottom: 4px;
    padding-bottom: var(--spacing-sm);
  }
  ._showMoreButton_9lfr1_12 {
    align-self: stretch;
  }
  @media (min-width: 768px) {
    ._showMoreButton_9lfr1_12 {
      align-self: center;
    }
  }
  ._noResults_bugm8_2 {
    display: flex;
    max-width: var(--content-size-width-lg);
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: var(--text-color-secondary);
    padding: 16px 32px;
    padding: var(--spacing-xl) var(--spacing-3xl);
    text-align: center;
  }
  ._icon_bugm8_13 {
    width: var(--icon-size-2xl);
    height: var(--icon-size-2xl);
  }
  ._title_bugm8_18 {
    margin-top: 24px;
    margin-top: var(--spacing-2xl);
  }
  ._text_bugm8_22 {
    margin-top: 8px;
    margin-top: var(--spacing-md);
  }
  ._container_opbt1_2 {
    position: fixed;
    z-index: 10002;
    z-index: var(--overlay-z-index);
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    padding: var(--spacing-xl) 0;
    background-color: var(--background-color-base);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  @media (min-width: 768px) {
    ._container_opbt1_2 {
      padding: 24px 0;
      padding: var(--spacing-2xl) 0;
    }
  }
  ._content_opbt1_18 {
    display: flex;
    min-height: 0;
    flex-direction: column;
    gap: 24px;
    gap: var(--spacing-2xl);
  }
  ._header_opbt1_25 {
    display: flex;
    width: 100%;
    gap: 8px;
    gap: var(--spacing-md);
  }
  ._backButton_opbt1_31 {
    flex-shrink: 0;
  }
  ._cancelIcon_opbt1_35 {
    padding: 0 8px;
    padding: 0 var(--spacing-md);
  }
  ._input_opbt1_39 {
    flex-grow: 1;
  }
  ._input_focused_opbt1_43 {
    --input-padding: calc(var(--spacing-lg) - 1px);
  }
  ._input_focused_opbt1_43 ._cancelIcon_opbt1_35 {
    padding: 0 7px;
    padding: 0 calc(var(--spacing-md) - 1px);
  }
  ._resultsContainer_opbt1_51 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    gap: var(--spacing-2xl);
    overflow-y: auto;
    scrollbar-width: none;
  }
  ._resultsContainer_opbt1_51::-webkit-scrollbar {
    display: none;
  }
  ._results_opbt1_51 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    gap: var(--spacing-2xl);
  }
  ._noResultsContent_opbt1_69 {
    padding-bottom: 0;
  }
  ._bottomNavigation_ckkb7_2 {
    position: fixed;
    z-index: 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 8px 0 12px;
    padding: var(--spacing-md) 0 var(--spacing-lg);
    background: var(--background-color-brand-primary);
    -moz-column-gap: 24px;
    column-gap: 24px;
    -moz-column-gap: var(--spacing-2xl);
    column-gap: var(--spacing-2xl);
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.2s ease;
  }
  ._bottomNavigation_ckkb7_2._hidden_ckkb7_16 {
    transform: translateY(100%);
  }
  @media (min-width: 768px) {
    ._bottomNavigation_ckkb7_2 {
      display: none;
    }
  }
  ._item_ckkb7_25 {
    display: flex;
    min-width: var(--icon-size-2xl);
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    color: var(--text-color-on-inverse);
    gap: 4px;
    gap: var(--spacing-sm);
    -webkit-text-decoration: none;
    text-decoration: none;
    transform: translateY(0);
    transition: transform 0.2s ease;
  }
  ._icon_ckkb7_39 {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
    color: inherit;
    opacity: 0.5;
  }
  ._active_ckkb7_46 {
    opacity: 1;
  }
  ._text_ckkb7_50 {
    color: var(--text-color-on-inverse);
    text-transform: uppercase;
  }
  ._main_1ajeu_2 {
    background-color: var(--background-color-canvas);
  }
  