._picture_vxx2v_2{overflow:hidden}._img_vxx2v_5{display:block;width:100%;height:100%;aspect-ratio:var(--bf9c98d2)}._cover_vxx2v_12{-o-object-fit:cover;object-fit:cover}._contain_vxx2v_16{-o-object-fit:contain;object-fit:contain}
